# Wrangler
.wrangler/
**/.wrangler/

# Logs
*.log
*_err.log
*_out.log

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# VSCode temp
.vscode/

# Runtime cache
tmp/
temp/

# Local env
.env
.env.local

# Cloudflare
.dev.vars

# Build
dist/
build/

# OS
desktop.ini

# Coverage
coverage/

# Mac/Linux metadata
.AppleDouble
.LSOverride